<body>
    <header>
     <h1>Development of a Quick-Check for RE</h1>
        <h2>Transformation of NaPiRe Data to CCE Tool</h2>
    </header>

In [1]:
import pandas as pd, numpy as np

In [2]:
pd.__version__

'1.3.4'

In [3]:
# Import whole Dataset of NaPiRe
df = pd.read_csv(r'.\data\napire_truth.csv', encoding='latin1', delimiter=';', thousands=',')

In [4]:
df.head()

,lfdn,v_300,v_23,v_3,v_1,v_2,v_4,v_5,v_6,v_7,...,v_279,v_280,v_281,v_282,v_283,v_284,v_285,v_286,v_194,v_297
0,30,English,Japan,7,Agriculture,NotAnswered,Software-intensive embedded systems,NotAnswered,not quoted,quoted,...,NotShown,NotShown,NotShown,NotAnswered,NotAnswered,NotShown,NotShown,NotShown,Nothing,Since systems we developed face the natural en...
1,33,English,Argentina,5,Manufacturing,NotAnswered,Software-intensive embedded systems,NotAnswered,quoted,not quoted,...,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered
2,35,English,Argentina,130,Healthcare,NotAnswered,Business information systems,NotAnswered,quoted,not quoted,...,NotAnswered,NotAnswered,NotAnswered,extremly small team for a World wide project,lack of experience in software develoment; lac...,lack of experience in software develoment; lac...,inmature customer industry,lack of time,,
3,41,English,United States,4,Human resources,NotAnswered,Business information systems,NotAnswered,not quoted,quoted,...,Some people in the group have learned differen...,Someone in our group is going off and making c...,We are basing our project off of another app t...,The project will probably only be about 90% do...,While we will try our best to ensure our non-f...,This simply makes the process of creating the ...,"Again, this simply makes the process of creati...","This will have no effect on the final product,...",NotApplicable,Nope!
4,48,English,United States,25,Other (please specify),Satellites,Software-intensive embedded systems,NotAnswered,not quoted,quoted,...,Losing track of where requirements are located...,"If requirements are too vague, developer often...",Customers often do not specify the requirement...,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotAnswered,NotApplicable

# NaPiRE Data

- ID: Question ID in the questionnaire
- NaPiRe ID: Variable name in the data set
- Question: Question text

<table class="table table-striped table-bordered" style="width: 100%; table-layout: auto;">
<thead>
<tr>
<th>ID</th>
<th>NaPiRe ID</th>
<th>Question</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>v_1</td>
<td>Please select the main industrial sector of your project and the application domain of the software you build.</td>
</tr>
<tr>
<td>2</td>
<td>v_4</td>
<td>Please select the class of systems or services you work on in the context of your project.</td>
</tr>
<tr>
<td>3</td>
<td>v_6 to v_15</td>
<td>Are there quality attributes which are of particularly high importance for your development project?</td>
</tr>
<tr>
<td>4</td>
<td>NULL</td>
<td>How would you describe the ratio between the scope of your projects with the amount of projects in a year?</td>
</tr>
<tr>
<td>5</td>
<td>v_3</td>
<td>In average, how many people are typically involved in your projects?</td>
</tr>
<tr>
<td>6</td>
<td>v_17</td>
<td>What is the main role you occupy within your projects? If more than one role applies to you, please select the one in which you are most active.</td>
</tr>
<tr>
<td>7</td>
<td>v_19</td>
<td>How many years of industrial experience do you have in this role?</td>
</tr>
<tr>
<td>8</td>
<td>v_25</td>
<td>In your opinion, how satisfied are your clients in general with the projects you carry out with them?</td>
</tr>
<tr>
<td>9</td>
<td>NULL</td>
<td>What is the reason for this level of satisfaction of your client?</td>
</tr>
<tr>
<td>10</td>
<td>v_167</td>
<td>In your opinion, how satisfied are you in general with the projects you have carried out yourself?</td>
</tr>
<tr>
<td>11</td>
<td>NULL</td>
<td>What is the reason for your satisfaction with your projects?</td>
</tr>
<tr>
<td>12</td>
<td>NULL</td>
<td>In your experience, how many of the requirements you elicit in the beginning end up in the final product on average?</td>
</tr>
<tr>
<td>13</td>
<td>NULL</td>
<td>How long have you been applying your current work practices without having made a major transformation?</td>
</tr>
<tr>
<td>14</td>
<td>NULL</td>
<td>If you have changed your current work practices recently (in the past 5 years), how would they rate the impact on success on your projects?</td>
</tr>
<tr>
<td>15</td>
<td>NULL</td>
<td>If you have changed your current work practices recently, why did you change it?</td>
</tr>
<tr>
<td>16</td>
<td>v_24</td>
<td>How would you personally characterise your way of working in your project?</td>
</tr>
<tr>
<td>17</td>
<td>v_36 to v_46</td>
<td>Which techniques do you use for your requirements elicitation?</td>
</tr>
<tr>
<td>18</td>
<td>v_82 to v_96</td>
<td>How do you document requirements?</td>
</tr>
<tr>
<td>19</td>
<td>v_61 to v_67</td>
<td>How do you make use of the documented requirements?</td>
</tr>
<tr>
<td>20</td>
<td>v_106 to v_113</td>
<td>How do you verify and/or validate your requirements?</td>
</tr>
<tr>
<td>21</td>
<td>v_158 to v_164</td>
<td>How do you align software testing with the requirements?</td>
</tr>
<tr>
<td>22</td>
<td>v_97 to v_105</td>
<td>Which classes of non-functional requirements do you explicitly consider in your requirements documentation?</td>
</tr>
<tr>
<td>23</td>
<td>NULL</td>
<td>Considering your personal experiences, how do the following problems in requirements engineering apply to your projects?</td>
</tr>
<tr>
<td>24</td>
<td>NULL</td>
<td>Considering your personal experiences, what are the causes to the previously stated problems that apply to your projects?</td>
</tr>
<tr>
<td>25</td>
<td>NULL</td>
<td>Considering your personal experiences, what are the effects if he previously stated problems that apply to your projects?</td>
</tr>
</tbody>
</table>


<!-- MARKDOWN VERSION TO GENERATE HTML
| ID  | NaPiRe ID      | Question                                                                                                                                         |
| --- | -------------- | ------------------------------------------------------------------------------------------------------------------------------------------------ |
| 1   | v_1            | Please select the main industrial sector of your project and the application domain of the software you build.                                   |
| 2   | v_4            | Please select the class of systems or services you work on in the context of your project.                                                       |
| 3   | v_6 to v_15    | Are there quality attributes which are of particularly high importance for your development project?                                             |
| 4   | NULL           | How would you describe the ratio between the scope of your projects with the amount of projects in a year?                                       |
| 5   | v_3            | In average, how many people are typically involved in your projects?                                                                             |
| 6   | v_17           | What is the main role you occupy within your projects? If more than one role applies to you, please select the one in which you are most active. |
| 7   | v_19           | How many years of industrial experience do you have in this role?                                                                                |
| 8   | v_25           | In your opinion, how satisfied are your clients in general with the projects you carry out with them?                                            |
| 9   | NULL           | What is the reason for this level of satisfaction of your client?                                                                                |
| 10  | v_167          | In your opinion, how satisfied are you in general with the projects you have carried out yourself?                                               |
| 11  | NULL           | What is the reason for your satisfaction with your projects?                                                                                     |
| 12  | NULL           | In your experience, how many of the requirements you elicit in the beginning end up in the final product on average?                             |
| 13  | NULL           | How long have you been applying your current work practices without having made a major transformation?                                          |
| 14  | NULL           | If you have changed your current work practices recently (in the past 5 years), how would they rate the impact on success on your projects?      |
| 15  | NULL           | If you have changed your current work practices recently, why did you change it?                                                                 |
| 16  | v_24           | How would you personally characterise your way of working in your project?                                                                       |
| 17  | v_36 to v_46   | Which techniques do you use for your requirements elicitation?                                                                                   |
| 18  | v_82 to v_96   | How do you document requirements?                                                                                                                |
| 19  | v_61 to v_67   | How do you make use of the documented requirements?                                                                                              |
| 20  | v_106 to v_113 | How do you verify and/or validate your requirements?                                                                                             |
| 21  | v_158 to v_164 | How do you align software testing with the requirements?                                                                                         |
| 22  | v_97 to v_105  | Which classes of non-functional requirements do you explicitly consider in your requirements documentation?                                      |
| 23  | NULL           | Considering your personal experiences, how do the following problems in requirements engineering apply to your projects?                         |
| 24  | NULL           | Considering your personal experiences, what are the causes to the previously stated problems that apply to your projects?                        |
| 25  | NULL           | Considering your personal experiences, what are the effects if he previously stated problems that apply to your projects?                        |
-->

# CCE Tool


<div class="alert alert-block alert-info"><b>Explanation:</b>
    <ul>
        <li>ID: ID of the question</li>
        <li>Question: Question text</li>
    </ul>
    </div>


<table class="table table-striped table-bordered" style="width: 100%; table-layout: auto;">
<thead>
<tr>
<th>ID</th>
<th>Question</th>
</tr>
</thead>
<tbody>
<tr>
<td>65</td>
<td>Please select the main industrial sector of your project and the application domain of the software you build.</td>
</tr>
<tr>
<td>66</td>
<td>Please select the class of systems or services you work on in the context of your project.</td>
</tr>
<tr>
<td>70</td>
<td>Are there quality attributes which are of particularly high importance for your development project?</td>
</tr>
<tr>
<td>71</td>
<td>How would you describe the ratio between the scope of your projects with the amount of projects in a year?</td>
</tr>
<tr>
<td>67</td>
<td>In average, how many people are typically involved in your projects?</td>
</tr>
<tr>
<td>72</td>
<td>What is the main role you occupy within your projects?</td>
</tr>
<tr>
<td>73</td>
<td>How many years of industrial experience do you have in this role?</td>
</tr>
<tr>
<td>76</td>
<td>In your opinion, how satisfied are you in general with the projects you have carried out yourself?</td>
</tr>
<tr>
<td>75</td>
<td>What is the reason for this level of satisfaction of your client?</td>
</tr>
<tr>
<td>74</td>
<td>In your opinion, how satisfied are your clients in general with the projects you carry out with them?</td>
</tr>
<tr>
<td>77</td>
<td>What is the reason for your satisfaction with your projects?</td>
</tr>
<tr>
<td>78</td>
<td>In your experience, how many of the requirements you elicit in the beginning end up in the final product on average?</td>
</tr>
<tr>
<td>79</td>
<td>How long have you been applying your current work practices without having made a major transformation?</td>
</tr>
<tr>
<td>80</td>
<td>If you have changed your current work practices recently (in the past 5 years), how would they rate the impact on success on your projects?</td>
</tr>
<tr>
<td>81</td>
<td>If you have changed your current work practices recently, why did you change it?</td>
</tr>
<tr>
<td>82</td>
<td>How would you personally characterise your way of working in your project?</td>
</tr>
<tr>
<td>83</td>
<td>Which techniques do you use for your requirements elicitation?</td>
</tr>
<tr>
<td>84</td>
<td>How do you document requirements?</td>
</tr>
<tr>
<td>85</td>
<td>How do you make use of the documented requirements?</td>
</tr>
<tr>
<td>86</td>
<td>How do you verify and/or validate your requirements?</td>
</tr>
<tr>
<td>87</td>
<td>How do you align software testing with the requirements?</td>
</tr>
<tr>
<td>88</td>
<td>Which classes of non-functional requirements do you explicitly consider in your requirements documentation?</td>
</tr>
<tr>
<td>89</td>
<td>Considering your personal experiences, how do the following problems in requirements engineering apply to your projects? [TOP5]</td>
</tr>
<tr>
<td>90</td>
<td>Considering your personal experiences, how do the following problems in requirements engineering apply to your projects? [Checkbox]</td>
</tr>
<tr>
<td>91</td>
<td>Considering your personal experiences, what are the causes to the previously stated problems that apply to your projects?</td>
</tr>
<tr>
<td>92</td>
<td>Considering your personal experiences, what are the effects if he previously stated problems that apply to your projects?</td>
</tr>
</tbody>
</table>

<!--


| ID | Question                                                                                                                                    |
|----|---------------------------------------------------------------------------------------------------------------------------------------------|
| 65 | Please select the main industrial sector of your project and the application domain of the software you build.                              |
| 66 | Please select the class of systems or services you work on in the context of your project.                                                  |
| 70 | Are there quality attributes which are of particularly high importance for your development project?                                        |
| 71 | How would you describe the ratio between the scope of your projects with the amount of projects in a year?                                  |
| 67 | In average, how many people are typically involved in your projects?                                                                        |
| 72 | What is the main role you occupy within your projects?                                                                                      |
| 73 | How many years of industrial experience do you have in this role?                                                                           |
| 76 | In your opinion, how satisfied are you in general with the projects you have carried out yourself?                                          |
| 75 | What is the reason for this level of satisfaction of your client?                                                                           |
| 74 | In your opinion, how satisfied are your clients in general with the projects you carry out with them?                                       |
| 77 | What is the reason for your satisfaction with your projects?                                                                                |
| 78 | In your experience, how many of the requirements you elicit in the beginning end up in the final product on average?                        |
| 79 | How long have you been applying your current work practices without having made a major transformation?                                     |
| 80 | If you have changed your current work practices recently (in the past 5 years), how would they rate the impact on success on your projects? |
| 81 | If you have changed your current work practices recently, why did you change it?                                                            |
| 82 | How would you personally characterise your way of working in your project?                                                                  |
| 83 | Which techniques do you use for your requirements elicitation?                                                                              |
| 84 | How do you document requirements?                                                                                                           |
| 85 | How do you make use of the documented requirements?                                                                                         |
| 86 | How do you verify and/or validate your requirements?                                                                                        |
| 87 | How do you align software testing with the requirements?                                                                                    |
| 88 | Which classes of non-functional requirements do you explicitly consider in your requirements documentation?                                 |
| 89 | Considering your personal experiences, how do the following problems in requirements engineering apply to your projects? [TOP5]             |
| 90 | Considering your personal experiences, how do the following problems in requirements engineering apply to your projects? [Checkbox]         |
| 91 | Considering your personal experiences, what are the causes to the previously stated problems that apply to your projects?                   |
| 92 | Considering your personal experiences, what are the effects if he previously stated problems that apply to your projects?                   |

-->

# Question.csv

In [5]:
questions = pd.read_csv(r'.\data\4_QC_Version_1_raw.csv', encoding='latin1', delimiter=';', thousands=',', keep_default_na=False)
questions = questions.rename(columns={'Ã¯Â»Â¿question_id':'question_id'})
questions

,question_id,question_text,type,answer_0,answer_1,answer_2,answer_3,answer_4,answer_5,answer_6,...,answer_11,answer_12,answer_13,answer_14,answer_15,answer_16,answer_17,answer_18,answer_19,answer_20
0,65,Please select the main industrial sector of yo...,radiogroup,Agriculture,Automotive,Finance,Healthcare,Security,Manufacturing,Energy,...,Education,Public sector,Enterprise resource planning,Human resources,e-Government,Telecommunication,Games engineering,Public transportation,e-Commerce,Other
1,66,Please select the class of systems or services...,radiogroup,Software-intensive embedded systems,Business information systems,Hybrid of both software-intensive embedded sys...,,,,,...,,,,,,,,,,
2,70,Are there quality attributes which are of part...,checkbox,"Compatibility (e.g., co-existence, interoperab...","Maintainability (e.g., analysability, modulari...","Performance efficiency (e.g., time behavior, r...","Portability (e.g., adaptability, installabilit...","Reliability (e.g., availability, fault toleran...","Security (e.g., accountability, authenticity, ...",Safety (e.g. freedom of risk for health or dis...,...,,,,,,,,,,
3,71,How would you describe the ratio between the s...,radiogroup,Few projects with a large scope,A couple of projects with a medium scope,High number of projects with small scope,,,,,...,,,,,,,,,,
4,67,"In average, how many people are typically invo...",radiogroup,1 to 5,6 to 10,11 to 20,21 to 50,more than 50,,,...,,,,,,,,,,
5,72,What is the main role you occupy within your p...,radiogroup,Business Analyst,Requirements Engineer,Project Lead / Project Manager,Scrum Master,Product Manager,Product Owner,Test Manager / Tester,...,,,,,,,,,,
6,73,How many years of industrial experience do you...,radiogroup,up to 1 year,1 to 5 years,6 to 10 years,11 to 20 years,more than 20 years,,,...,,,,,,,,,,
7,76,"In your opinion, how satisfied are your client...",radiogroup,Very satisfied,Satisfied,Neutral,Unsatisfied,Very unsatisfied,,,...,,,,,,,,,,
8,75,What is the reason for this level of satisfact...,freetext,,,,,,,,...,,,,,,,,,,
9,74,"In your opinion, how satisfied are you in gene...",radiogroup,Very satisfied,Satisfied,Neutral,Unsatisfied,Very unsatisfied,,,...,,,,,,,,,,
10,77,What is the reason for your satisfaction with ...,freetext,,,,,,,,...,,,,,,,,,,
11,78,"In your experience, how many of the requiremen...",radiogroup,0-20%,21-40%,41-60%,61-80%,81-100%,,,...,,,,,,,,,,
12,79,How long have you been applying your current w...,radiogroup,up to 1 year,1 to 5 years,6 to 10 years,11 to 20 years,more than 20 years,,,...,,,,,,,,,,
13,80,If you have changed your current work practice...,radiogroup,No recent change,Positive impact,No impact,Negative impact,Both negative and positive impact,,,...,,,,,,,,,,
14,81,If you have changed your current work practice...,freetext,,,,,,,,...,,,,,,,,,,
15,82,How would you personally characterise your way...,radiogroup,Rather agile,Hybrid,Rather plan-driven,,,,,...,,,,,,,,,,
16,83,Which techniques do you use for your requireme...,checkbox,Interviews,Analysis of existing documents,Risk analyses,Prototyping,Workshops and focus groups,(Requirements) Reuse database and guidelines,Design Thinking / Lean Startup,...,Other,,,,,,,,,
17,84,How do you document requirements?,checkbox,Use cases,Natural language / informal (plain) text,Structured list of requirements,User stories,Use case diagrams,Activity diagrams,Class diagrams,...,Prototypes / User screens,Sketches,Other,,,,,,,
18,85,How do you make use of the documented requirem...,checkbox,They are the basis for the implementation.,They are source for tests.,They are used in customer acceptance.,They are part of the contract.,They are a reminder for further discussions wi...,Other,,...,,,,,,,,,,
19,86,How do you verify and/or validate your require...,checkbox,Inspection (formal technical reviews using rea...,Walkthroughs,Informal peer reviews,Simulations,Automatic checking,We do not verify and/or validate our requireme...,Other,...,,,,,,,,,,
20,87,How do you align software testing with the req...,checkbox,Testers participate in requirements reviews.,We check the coverage of requirements with tests.,We define acceptance criteria and tests for re...,We derive tests from system models.,We do not align tests and requirements.,Other,,...,,,,,,,,,,
21,88,Which classes of non-functional requirements d...,checkbox,"Compatibility (e.g., co-existence, interoperab...","Maintainability (e.g., analysability, modulari...","Performance efficiency (e.g., time behavior, r...","Portability (e.g., adaptability, installabilit...","Reliability (e.g., availability, fault toleran...","Security (e.g., accountability, authenticity, ...",Safety (e.g. freedom of risk for health or dis...,...,,,,,,,,,,
22,90,"Considering your personal experiences, how do ...",checkbox,Communication flaws between the project and th...,Communication flaws within the project team,Discrepancy between high degree of innovation ...,Gold plating (implementation of features witho...,Incomplete or hidden requirements,Inconsistent requirements,Insufficient support by customer,...,Technically unfeasible requirements,Terminological problems,Time boxing / Not enough time in general,Unclear / unmeasurable non-functional requirem...,Underspecified requirements that are too abstr...,"Volatile customer's business domain regarding,...",Weak access to customer needs and / or (intern...,Weak knowledge about customer's application do...,Weak relationship between customer and project...,Other
23,91,"Considering your personal experiences, what ar...",checkbox,Changing project characteristics,Communication Problems,High complexity of projects,Human factors,Insufficient development process,Lack of common understanding about goals,Lack of communication channels,...,Lack of knowledge,Lack of management,Lack of RE awareness,Moving targets,Process execution defects,Other,,,,
24,92,"Considering your personal experiences, what ar...",checkbox,Budget overrun,Customer conflicts,Customer dissatisfaction,Decreased business value,Decreased efficiency,Decreased manageability,General overrun of project ressources,...,Lack of innovation,Overall demotivation at project level,Poor product quality,Poor requirements quality,Requirements cannot be validated,Team conflicts,Time overrun,Other,,

In [6]:
questions.iloc[1,6] == ''

True

In [7]:
# Export questions to csv
questions.to_csv(r'.\data\exports\questions.csv',index = False ,sep=";")

## Create a dataframe for the  answer.csv

#### Variables done
- [x] 1 
- [X] 2
- [X] 3
- 4 : No data
- [X] 5
- [X] 6
- [X] 7
- [X] 8
- 9 : No data
- [X] 10
- 11 : No data
- 12 : No data
- 13 : No data
- 14 : No data
- 15 : No data
- [X] 16
- [X] 17
- [X] 18
- [X] 19
- [X] 20
- [X] 21
- [X] 22
- [X] 23 
- [X] 24 
- [X] 25

# Auxiliary functions

In [8]:
def convertNapireToCce(questionsDF,toConvertDF,questionIndex):
    '''
    Converts values from the NaPiRE data format into the answer.csv fromat of
    the CCE tool importing script.

            Parameters:
                    questionsDF (df):    The data from question.csv
                    toConvertDF (df):    The NaPiRE data
                    questionIndex (int): Index of the question to be converted
                                         inside the question.csv

            Returns:
                    converted (df):      The resulting data frame in CCE
                                         format
    '''
    respondentAnswers = []
    converted = []
    for index,row in toConvertDF.iterrows():
        for label, content in questions.items():
            if label.startswith('answer_') and not (content[questionIndex] == ''):
                if row[1] == content[questionIndex]:
                    respondentAnswers.append((row[0],'TRUE'))
                else:
                    respondentAnswers.append((row[0],'FALSE'))
        converted.append(respondentAnswers)
        respondentAnswers=[]
    return converted

def createQuestionColumns(questionPrefix,length):
    # Create resulting list with initial lfdn column
    questionColumn = ['lfdn']
    for index in np.arange(length):
        questionColumn.append(questionPrefix+(str(index)))
    return questionColumn

# return DataFrame with in CCE Tool Question.csv format
def createQuestionDF(questionColumn,convertedList):
    resultDF = pd.DataFrame(columns=questionColumn)
    for index, element in enumerate(convertedList):
        resultDF.loc[index] = element[0][0]
        for innerIndex, value in enumerate(element):
            resultDF.iloc[index,innerIndex+1] = value[1]
    return resultDF
        
def joinAllDataFrames(dataFrameList):
    result = dataFrameList[0]
    for index, elem in enumerate(dataFrameList):
        if index > 0:
            result = result.merge(elem)
    return result

# Converts and appends converted NaPiRE data to cce tool
def convertAndAppend(dfToConvert,questionListID,prefix):
        convertedDF = convertNapireToCce(questions,dfToConvert,questionListID)
        questionColumn = createQuestionColumns(prefix,len(convertedDF[0]))
        resultDF = createQuestionDF(questionColumn,convertedDF)
        resultList.append(resultDF)
        return resultDF

In [9]:
# Create resultlist where all dataFrames will be gathered
resultList = []

#### **Variablename V_1 | QuestionID 65**
##### Please select the main industrial sector of your project and the application domain of the software you build.

In [10]:
ID65 = df.loc[:, ['lfdn', 'v_1']]
ID65 = ID65.rename(columns={'v_1':'65'})
# Delete Other options
ID65 = ID65.loc[ID65['65']!="Other (please specify)"]
ID65

     lfdn                            65
0      30                   Agriculture
1      33                 Manufacturing
2      35                    Healthcare
3      41               Human resources
6      58                    Healthcare
..    ...                           ...
479  1932  Enterprise resource planning
480  1933                    Healthcare
481  1941                    e-Commerce
483  1961                    e-Commerce
485  1963         Public transportation

[399 rows x 2 columns]

In [11]:
ID65converted = convertNapireToCce(questions,ID65,0)
questionColumn = createQuestionColumns('65_',len(ID65converted[0]))
# Create question contet with TRUE and FALSE values
ID65result = createQuestionDF(questionColumn,ID65converted)
resultList.append(ID65result)
ID65result

,lfdn,65_0,65_1,65_2,65_3,65_4,65_5,65_6,65_7,65_8,...,65_11,65_12,65_13,65_14,65_15,65_16,65_17,65_18,65_19,65_20
0,30,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,33,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,35,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,41,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,58,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,1932,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
395,1933,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
396,1941,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
397,1961,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
398,1963,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE

#### **Variablename V_4 | QuestionID 66**
##### Please select the class of systems or services you work on in the context of your project.

In [12]:
ID66 = df.loc[:, ['lfdn', 'v_4']]
ID66 = ID66.rename(columns={'v_4':'66'})
# Delete Other options
ID66 = ID66[ID66['66']!="Other (please specify)"]
ID66

     lfdn                                                 66
0      30                Software-intensive embedded systems
1      33                Software-intensive embedded systems
2      35                       Business information systems
3      41                       Business information systems
4      48                Software-intensive embedded systems
..    ...                                                ...
483  1961                       Business information systems
484  1962                       Business information systems
485  1963                       Business information systems
486  1965                       Business information systems
487  1969  Hybrid of both software-intensive embedded sys...

[458 rows x 2 columns]

In [13]:
ID66converted = convertNapireToCce(questions,ID66,1)
questionColumn = createQuestionColumns('66_',len(ID66converted[0]))
# Create question contet with TRUE and FALSE values
ID66result = createQuestionDF(questionColumn,ID66converted)
resultList.append(ID66result)
ID66result

     lfdn   66_0   66_1   66_2
0      30   TRUE  FALSE  FALSE
1      33   TRUE  FALSE  FALSE
2      35  FALSE   TRUE  FALSE
3      41  FALSE   TRUE  FALSE
4      48   TRUE  FALSE  FALSE
..    ...    ...    ...    ...
453  1961  FALSE   TRUE  FALSE
454  1962  FALSE   TRUE  FALSE
455  1963  FALSE   TRUE  FALSE
456  1965  FALSE   TRUE  FALSE
457  1969  FALSE  FALSE  FALSE

[458 rows x 4 columns]

#### **Variablename V_6 - V_15 | QuestionID 70**
##### Are there quality attributes which are of particularly high importance for your development project?

In [14]:
ID70 = df.loc[:,['lfdn','v_6','v_7','v_8','v_9','v_10','v_11','v_12','v_13','v_14']]
ID70 = ID70.rename(columns={'v_6':'70_0','v_7':'70_1','v_8':'70_2'
                         ,'v_9':'70_3','v_10':'70_4','v_11':'70_5'
                         ,'v_12':'70_6','v_13':'70_7','v_14':'70_8'})
# Replace standard value with TRUE or FALSE
ID70 = ID70.replace('not quoted','FALSE').replace('quoted','TRUE')
resultList.append(ID70)
ID70

     lfdn   70_0   70_1   70_2   70_3   70_4   70_5   70_6   70_7   70_8
0      30  FALSE   TRUE  FALSE  FALSE   TRUE  FALSE  FALSE   TRUE  FALSE
1      33   TRUE  FALSE   TRUE  FALSE   TRUE   TRUE  FALSE  FALSE  FALSE
2      35   TRUE  FALSE   TRUE  FALSE  FALSE   TRUE  FALSE   TRUE  FALSE
3      41  FALSE   TRUE  FALSE   TRUE   TRUE  FALSE  FALSE   TRUE  FALSE
4      48  FALSE   TRUE  FALSE  FALSE   TRUE   TRUE  FALSE   TRUE  FALSE
..    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
483  1961   TRUE   TRUE   TRUE  FALSE   TRUE   TRUE  FALSE  FALSE  FALSE
484  1962  FALSE   TRUE   TRUE  FALSE   TRUE  FALSE   TRUE   TRUE  FALSE
485  1963   TRUE   TRUE  FALSE  FALSE  FALSE   TRUE  FALSE   TRUE  FALSE
486  1965   TRUE  FALSE  FALSE  FALSE  FALSE  FALSE   TRUE  FALSE  FALSE
487  1969  FALSE   TRUE   TRUE  FALSE   TRUE  FALSE  FALSE   TRUE  FALSE

[488 rows x 10 columns]

#### **Variablename V_3 | QuestionID 67**
##### In average, how many people are typically involved in your projects?

<div class="alert alert-danger" role="alert">
    <div class="row vertical-align">
        <div class="col-xs-1 text-center">
            <i class="fa fa-exclamation-triangle fa-2x"></i>
        </div>
        <div class="col-xs-11">
                <strong>PROBLEM: Data is present as String and needs to be converted as answer possiblites are:
                    <ul>
                        <li> 1 to 5,</li>
                        <li>6 to 10,</li>
                        <li>11 to 20,</li>
                        <li>21 to 50,</li>
                        <li> more than 50</li>
                    </ul>
           </strong>                   
        </div>   
    </div> 
</div>

In [15]:
ID67 = df.loc[:, ['lfdn', 'v_3']]
ID67 = ID67.rename(columns={'v_3':'67_old'})
ID67

     lfdn                                             67_old
0      30                                                  7
1      33                                                  5
2      35                                                130
3      41                                                  4
4      48                                                 25
..    ...                                                ...
483  1961                                                 15
484  1962                                                  8
485  1963                                                 10
486  1965                                                 10
487  1969  Depends on Project.  Usually > 10 and < 100.  ...

[488 rows x 2 columns]

**Export to a csv and categorize it manually**

In [16]:
# Export answers to csv
ID67.to_csv(r'.\data\exports\V_3_Teamsize.csv',index = False , encoding='latin1')

In [17]:
# Import manually coded data
ID67 = pd.read_csv(r'.\data\V_3_teamsize.csv', encoding='latin1', delimiter=';', thousands=',')
ID67
# delete old values and rename data
ID67 = ID67.rename(columns={'67_new':'67','Ã¯Â»Â¿lfdn':'lfdn'})
# Delete Invalid values
ID67 = ID67[ID67['67']!="INVALID"].iloc[:,[0,2]]
ID67

     lfdn            67
0      30       6 to 10
1      33        1 to 5
2      35  more than 50
3      41        1 to 5
4      48      21 to 50
..    ...           ...
483  1961      11 to 20
484  1962       6 to 10
485  1963       6 to 10
486  1965       6 to 10
487  1969      21 to 50

[485 rows x 2 columns]

In [18]:
ID67converted = convertNapireToCce(questions,ID67,4)
questionColumn = createQuestionColumns('67_',len(ID67converted[0]))
# Create question contet with TRUE and FALSE values
ID67result = createQuestionDF(questionColumn,ID67converted)
# ID66result[ID66result['66_2']=='TRUE']
resultList.append(ID67result)
ID67result

     lfdn   67_0   67_1   67_2   67_3   67_4
0      30  FALSE   TRUE  FALSE  FALSE  FALSE
1      33   TRUE  FALSE  FALSE  FALSE  FALSE
2      35  FALSE  FALSE  FALSE  FALSE   TRUE
3      41   TRUE  FALSE  FALSE  FALSE  FALSE
4      48  FALSE  FALSE  FALSE   TRUE  FALSE
..    ...    ...    ...    ...    ...    ...
480  1961  FALSE  FALSE   TRUE  FALSE  FALSE
481  1962  FALSE   TRUE  FALSE  FALSE  FALSE
482  1963  FALSE   TRUE  FALSE  FALSE  FALSE
483  1965  FALSE   TRUE  FALSE  FALSE  FALSE
484  1969  FALSE  FALSE  FALSE   TRUE  FALSE

[485 rows x 6 columns]

#### **Variablename V_17 | QuestionID 72**
##### What is the main role you occupy within your projects? If more than one role applies to you, please select the one in which you are most active.

In [19]:
ID72 = df.loc[:,['lfdn','v_17']]
ID72 = ID72.rename(columns={'v_17':'72'})
# Replace standard value with TRUE or FALSE
ID72 = ID72[ID72['72']!='Other (please specify)']
ID72

     lfdn                              72
1      33  Project Lead / Project Manager
2      35                Business Analyst
3      41                       Architect
4      48                       Developer
5      56                       Developer
..    ...                             ...
482  1957  Project Lead / Project Manager
483  1961                       Architect
484  1962                   Product Owner
485  1963           Test Manager / Tester
486  1965  Project Lead / Project Manager

[448 rows x 2 columns]

In [20]:
ID72converted = convertNapireToCce(questions,ID72,5)
questionColumn = createQuestionColumns('72_',len(ID72converted[0]))
# Create question contet with TRUE and FALSE values
ID72result = createQuestionDF(questionColumn,ID72converted)
resultList.append(ID72result)
ID72result

,lfdn,72_0,72_1,72_2,72_3,72_4,72_5,72_6,72_7,72_8,72_9
0,33,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,35,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,41,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE
3,48,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
4,56,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...
443,1957,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
444,1961,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE
445,1962,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
446,1963,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE
447,1965,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

#### **Variablename V_19 | QuestionID 73**
##### How many years of industrial experience do you have in this role?

<div class="alert alert-danger" role="alert">
    <div class="row vertical-align">
        <div class="col-xs-1 text-center">
            <i class="fa fa-exclamation-triangle fa-2x"></i>
        </div>
        <div class="col-xs-11">
                <strong>PROBLEM: Data is present as String and needs to be converted as answer possiblites are:
                    <ul>
                        <li>up to one year,</li>
                        <li>1 to 5 years,</li>
                        <li>6 to 10 years,</li>
                        <li>11 to 20 years,</li>
                        <li>more than 20 years</li>
                    </ul>
           </strong>                   
        </div>   
    </div> 
</div>

In [21]:
ID73 = df.loc[:,['lfdn','v_19']]
ID73

     lfdn v_19
0      30    0
1      33    3
2      35    6
3      41    0
4      48    1
..    ...  ...
483  1961   10
484  1962   10
485  1963   12
486  1965   14
487  1969   30

[488 rows x 2 columns]

In [22]:
# Export answers to csv
ID73.to_excel(r'.\data\exports\V_19_Experience.xlsx',index = False , encoding='latin1')

In [23]:
# Import manually coded data
ID73 = pd.read_csv(r'.\data\V_19_Experience.csv', encoding='latin1', delimiter=';')
# Clean up data set
ID73 = ID73.loc[:,['lfdn','73_new']]
# Rename values and drop NA rows
ID73 = ID73.rename(columns={'73_new':'73'}).dropna()
ID73

       lfdn                  73
0      30.0        up to 1 year
1      33.0        1 to 5 years
2      35.0        1 to 5 years
3      41.0        up to 1 year
4      48.0        up to 1 year
..      ...                 ...
483  1961.0        1 to 5 years
484  1962.0        1 to 5 years
485  1963.0      11 to 20 years
486  1965.0      11 to 20 years
487  1969.0  more than 20 years

[488 rows x 2 columns]

In [24]:
ID73result = convertAndAppend(ID73,6,'73_')
ID73result

       lfdn   73_0   73_1   73_2   73_3   73_4
0      30.0   TRUE  FALSE  FALSE  FALSE  FALSE
1      33.0  FALSE   TRUE  FALSE  FALSE  FALSE
2      35.0  FALSE   TRUE  FALSE  FALSE  FALSE
3      41.0   TRUE  FALSE  FALSE  FALSE  FALSE
4      48.0   TRUE  FALSE  FALSE  FALSE  FALSE
..      ...    ...    ...    ...    ...    ...
483  1961.0  FALSE   TRUE  FALSE  FALSE  FALSE
484  1962.0  FALSE   TRUE  FALSE  FALSE  FALSE
485  1963.0  FALSE  FALSE  FALSE   TRUE  FALSE
486  1965.0  FALSE  FALSE  FALSE   TRUE  FALSE
487  1969.0  FALSE  FALSE  FALSE  FALSE   TRUE

[488 rows x 6 columns]

#### **Variablename V_25 | QuestionID 76** 
##### In your opinion, how satisfied are your clients in general with the projects you carry out with them?

In [25]:
ID76 = df.loc[:,['lfdn','v_25']]
ID76 = ID76.rename(columns={'v_25':'76'})
# Replace NaPiRe answers with Quick-Check answers
ID76 = ID76.replace('Very good','Very satisfied').replace('Good','Satisfied')
ID76 = ID76.replace('neutral','Neutral').replace('Bad','Unsatisfied').replace('Very bad','Very unsatisfied')
ID76

     lfdn              76
0      30  Very satisfied
1      33  Very satisfied
2      35       Satisfied
3      41         Neutral
4      48       Satisfied
..    ...             ...
483  1961         Neutral
484  1962       Satisfied
485  1963  Very satisfied
486  1965       Satisfied
487  1969       Satisfied

[488 rows x 2 columns]

In [26]:
ID76result = convertAndAppend(ID76,7,'76_')
ID76result

     lfdn   76_0   76_1   76_2   76_3   76_4
0      30   TRUE  FALSE  FALSE  FALSE  FALSE
1      33   TRUE  FALSE  FALSE  FALSE  FALSE
2      35  FALSE   TRUE  FALSE  FALSE  FALSE
3      41  FALSE  FALSE   TRUE  FALSE  FALSE
4      48  FALSE   TRUE  FALSE  FALSE  FALSE
..    ...    ...    ...    ...    ...    ...
483  1961  FALSE  FALSE   TRUE  FALSE  FALSE
484  1962  FALSE   TRUE  FALSE  FALSE  FALSE
485  1963   TRUE  FALSE  FALSE  FALSE  FALSE
486  1965  FALSE   TRUE  FALSE  FALSE  FALSE
487  1969  FALSE   TRUE  FALSE  FALSE  FALSE

[488 rows x 6 columns]

#### **Variablename V_167 | QuestionID 74** 
##### In your opinion, how satisfied are you in general with the projects you have carried out yourself?

In [27]:
ID74 = df.loc[:,['lfdn','v_167']]
ID74 = ID74.rename(columns={'v_25':'76'})
# Replace NaPiRe answers with Quick-Check answers
ID74 = ID74.replace('Very dissatisfied','Very unsatisfied').replace('Dissatisfied','Unsatisfied')
ID74 = ID74.replace('Neither dissatisfied nor satisfied','Neutral')
ID74

     lfdn             v_167
0      30         Satisfied
1      33         Satisfied
2      35         Satisfied
3      41         Satisfied
4      48           Neutral
..    ...               ...
483  1961  Very unsatisfied
484  1962           Neutral
485  1963         Satisfied
486  1965           Neutral
487  1969         Satisfied

[488 rows x 2 columns]

In [28]:
ID74result = convertAndAppend(ID74,9,'74_')
ID74result

     lfdn   74_0   74_1   74_2   74_3   74_4
0      30  FALSE   TRUE  FALSE  FALSE  FALSE
1      33  FALSE   TRUE  FALSE  FALSE  FALSE
2      35  FALSE   TRUE  FALSE  FALSE  FALSE
3      41  FALSE   TRUE  FALSE  FALSE  FALSE
4      48  FALSE  FALSE   TRUE  FALSE  FALSE
..    ...    ...    ...    ...    ...    ...
483  1961  FALSE  FALSE  FALSE  FALSE   TRUE
484  1962  FALSE  FALSE   TRUE  FALSE  FALSE
485  1963  FALSE   TRUE  FALSE  FALSE  FALSE
486  1965  FALSE  FALSE   TRUE  FALSE  FALSE
487  1969  FALSE   TRUE  FALSE  FALSE  FALSE

[488 rows x 6 columns]

#### **Variablename V_24 | QuestionID 82** 
##### How would you personally characterise your way of working in your project?

In [29]:
ID82 = df.loc[:,['lfdn','v_24']]
ID82 = ID82.rename(columns={'v_24':'82'})
# In CCE Tool the questions are broken down into a smaller set of answer possibilites
ID82 = ID82.replace('Agile','Rather agile').replace('Plan-driven','Rather plan-driven')
ID82

     lfdn                  82
0      30        Rather agile
1      33  Rather plan-driven
2      35        Rather agile
3      41              Hybrid
4      48  Rather plan-driven
..    ...                 ...
483  1961        Rather agile
484  1962        Rather agile
485  1963        Rather agile
486  1965              Hybrid
487  1969              Hybrid

[488 rows x 2 columns]

In [30]:
ID82result = convertAndAppend(ID82,15,'82_')
ID82result

     lfdn   82_0   82_1   82_2
0      30   TRUE  FALSE  FALSE
1      33  FALSE  FALSE   TRUE
2      35   TRUE  FALSE  FALSE
3      41  FALSE   TRUE  FALSE
4      48  FALSE  FALSE   TRUE
..    ...    ...    ...    ...
483  1961   TRUE  FALSE  FALSE
484  1962   TRUE  FALSE  FALSE
485  1963   TRUE  FALSE  FALSE
486  1965  FALSE   TRUE  FALSE
487  1969  FALSE   TRUE  FALSE

[488 rows x 4 columns]

#### **Variablename V_36 to V_46 | QuestionID 83** 
##### Which techniques do you use for your requirements elicitation?

In [31]:
# We added some answers to the set of questions of NaPiRe
# v_36: Interviews
# v_37: Analysis of existing documents
# v_38: Risk analyses
# v_39: Prototyping
# v_40: Workshops and focus groups
# v_41: (Requirements) Reuse database and guidelines
# v_42: Design Thinking / Lean Startup
# v_43: External experts
# NEW: Brainstorming
# v_44: Observations/Ethnography
# v_47: We do not elicit requirements (ourselves)

ID83 = df.loc[:,['lfdn','v_36','v_37','v_38','v_39','v_40','v_41','v_42','v_43']]
# Therefore we add another dummy row that we just fill with false values as we have no data 
ID83['83_8'] = 'FALSE'
# Add last two rows manually
ID83['83_9'] = df.loc[:,'v_44']
ID83['83_10'] = df.loc[:,'v_47']

ID83 = ID83.rename(columns={'v_36':'83_0','v_37':'83_1','v_38':'83_2','v_39':'83_3',
                            'v_40':'83_4','v_41':'83_5','v_42':'83_6','v_43':'83_7'})
ID83 = ID83.replace('not quoted','FALSE').replace('quoted','TRUE')
resultList.append(ID83)
ID83

,lfdn,83_0,83_1,83_2,83_3,83_4,83_5,83_6,83_7,83_8,83_9,83_10
0,30,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1,33,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE
2,35,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,TRUE,FALSE
3,41,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
4,48,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...
483,1961,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,TRUE,FALSE
484,1962,TRUE,FALSE,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE
485,1963,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,TRUE,FALSE
486,1965,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
487,1969,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE

#### **Variablename V_82 to V_96 | QuestionID 84** 
##### How do you document requirements?

In [32]:
ID84 = df.loc[:,['lfdn','v_82','v_83','v_84',
                 'v_85','v_86','v_87','v_88',
                 'v_89','v_90','v_91','v_92',
                 'v_93','v_94']]
ID84 = ID84.rename(columns={'v_82':'84_0','v_83':'84_1','v_84':'84_2','v_85':'84_3',
                            'v_86':'84_4','v_87':'84_5','v_88':'84_6','v_89':'84_7',
                            'v_90':'84_8','v_91':'84_9','v_92':'84_10','v_93':'84_11',
                            'v_94':'84_12'})
# Change values and clean data were NotShown is present
ID84 = ID84.replace('not quoted','FALSE').replace('quoted','TRUE').replace('NotShown',np.nan).dropna()
resultList.append(ID84)
ID84

,lfdn,84_0,84_1,84_2,84_3,84_4,84_5,84_6,84_7,84_8,84_9,84_10,84_11,84_12
1,33,FALSE,TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE
2,35,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
3,41,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,TRUE,FALSE
4,48,FALSE,TRUE,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE
5,56,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483,1961,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
484,1962,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
485,1963,TRUE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
486,1965,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE
487,1969,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE

#### **Variablename V_61 to V_67 | QuestionID 85** 
#####  	How do you make use of the documented requirements?

In [33]:
ID85 = df.loc[:,['lfdn','v_61','v_62','v_63','v_64','v_65']]
#ID85 = ID85.rename(columns={'v_61':'85_0','v_62':'85_1','v_63':'85_2',
#                            'v_63':'85_2','v_64':'85_3','v_65':'85_4'})

#ID85 = ID85.replace('not quoted','FALSE').replace('quoted','TRUE').replace('NotShown',np.nan).dropna()
#resultList.append(ID85)
ID85

     lfdn        v_61        v_62        v_63        v_64        v_65
0      30    NotShown    NotShown    NotShown    NotShown    NotShown
1      33      quoted      quoted      quoted  not quoted  not quoted
2      35      quoted  not quoted  not quoted  not quoted  not quoted
3      41      quoted      quoted      quoted  not quoted  not quoted
4      48  not quoted  not quoted      quoted  not quoted  not quoted
..    ...         ...         ...         ...         ...         ...
483  1961      quoted      quoted      quoted      quoted      quoted
484  1962      quoted      quoted  not quoted  not quoted  not quoted
485  1963      quoted      quoted      quoted      quoted      quoted
486  1965      quoted  not quoted      quoted      quoted      quoted
487  1969      quoted      quoted      quoted  not quoted  not quoted

[488 rows x 6 columns]

#### **Variablename V_106 to V_113 | QuestionID 86** 
##### How do you verify and/or validate your requirements?

In [34]:
ID86 = df.loc[:,['lfdn','v_106','v_107','v_108','v_109','v_110','v_111']]
ID86 = ID86.rename(columns={'v_106':'86_0','v_107':'86_1','v_108':'86_2',
                            'v_109':'86_2','v_110':'86_3','v_111':'86_4'})
ID86 = ID86.replace('not quoted','FALSE').replace('quoted','TRUE').replace('NotShown',np.nan).dropna()
resultList.append(ID86)
ID86

     lfdn   86_0   86_1   86_2   86_2   86_3   86_4
0      30  FALSE  FALSE   TRUE   TRUE  FALSE  FALSE
1      33  FALSE   TRUE   TRUE   TRUE   TRUE  FALSE
2      35  FALSE   TRUE  FALSE  FALSE  FALSE  FALSE
3      41   TRUE   TRUE   TRUE  FALSE   TRUE  FALSE
4      48   TRUE  FALSE   TRUE  FALSE  FALSE  FALSE
..    ...    ...    ...    ...    ...    ...    ...
483  1961  FALSE  FALSE  FALSE  FALSE  FALSE   TRUE
484  1962  FALSE  FALSE  FALSE   TRUE  FALSE  FALSE
485  1963   TRUE   TRUE   TRUE   TRUE   TRUE  FALSE
486  1965  FALSE   TRUE   TRUE  FALSE  FALSE  FALSE
487  1969   TRUE   TRUE  FALSE  FALSE  FALSE  FALSE

[488 rows x 7 columns]

#### **Variablename V_158 to V_164 | QuestionID 87** 
##### How do you align software testing with the requirements?

In [35]:
ID87 = df.loc[:,['v_158','v_159','v_160','v_161']]
ID87 = ID87.rename(columns={'v_158':'87_0','v_159':'87_1',
                           'v_160':'87_2','v_161':'87_3'})
ID87 = ID87.replace('not quoted','FALSE').replace('quoted','TRUE').replace('NotShown',np.nan).dropna()
ID87

      87_0   87_1   87_2   87_3
0     TRUE  FALSE  FALSE  FALSE
1     TRUE  FALSE   TRUE   TRUE
2    FALSE   TRUE  FALSE  FALSE
3    FALSE   TRUE   TRUE   TRUE
4    FALSE  FALSE   TRUE  FALSE
..     ...    ...    ...    ...
483  FALSE   TRUE  FALSE  FALSE
484   TRUE  FALSE   TRUE  FALSE
485   TRUE   TRUE   TRUE   TRUE
486   TRUE   TRUE  FALSE  FALSE
487   TRUE  FALSE   TRUE  FALSE

[488 rows x 4 columns]

#### **Variablename V_97 to V_105 | QuestionID 88** 
##### Which classes of non-functional requirements do you explicitly consider in your requirements documentation?

In [36]:
ID88 = df.loc[:,['lfdn','v_97','v_98','v_99','v_100','v_101','v_102','v_303','v_103']]
ID88 = ID88.rename(columns={'v_97':'88_0','v_98':'88_1',
                           'v_99':'88_2','v_100':'88_3',
                            'v_101':'88_4','v_303':'88_6',
                            'v_102':'88_5','v_103':'88_7'})
ID88 = ID88.replace('not quoted','FALSE').replace('quoted','TRUE').replace('NotShown',np.nan).dropna()
ID88

     lfdn   88_0   88_1   88_2   88_3   88_4   88_5   88_6   88_7
1      33   TRUE  FALSE   TRUE   TRUE   TRUE  FALSE   TRUE   TRUE
2      35  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE
3      41  FALSE   TRUE  FALSE   TRUE   TRUE  FALSE  FALSE   TRUE
4      48  FALSE   TRUE  FALSE  FALSE   TRUE  FALSE   TRUE   TRUE
5      56   TRUE   TRUE   TRUE   TRUE   TRUE   TRUE   TRUE   TRUE
..    ...    ...    ...    ...    ...    ...    ...    ...    ...
483  1961  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE
484  1962  FALSE  FALSE   TRUE  FALSE  FALSE  FALSE  FALSE   TRUE
485  1963  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE
486  1965  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE  FALSE
487  1969  FALSE  FALSE   TRUE  FALSE   TRUE  FALSE  FALSE  FALSE

[455 rows x 9 columns]

#### **Variablename V_246-V_254 | QuestionID 90** 
##### Considering your personal experiences, how do the following problems in requirements engineering apply to your projects?

In [64]:
ID90 = df.loc[:,['lfdn','v_246','v_248','v_250','v_252','v_254']]
# Replace not given answers
ID90 = ID90.replace('Please make a selection',np.nan)
ID90[['90_0','90_1','90_2','90_3','90_4','90_5',
      '90_6','90_7','90_8','90_9','90_10',
      '90_11','90_12','90_13','90_14','90_15',
      '90_16','90_17','90_18','90_19']] = 'FALSE'

keyValue = {
    "90_0": "Communication flaws between the project and the customer",
    "90_1": "Communication flaws within the project team",
    "90_2": "Discrepancy between high degree of innovation and need for formal acceptance of (potentially wrong / incomplete / unknown) requirements",
    "90_3": "Gold plating (implementation of features without corresponding requirements)",
    "90_4": "Incomplete or hidden requirements",
    "90_5": "Inconsistent requirements",
    "90_6": "Insufficient support by customer",
    "90_7": "Insufficient support by project lead",
    "90_8": "Missing traceability",
    "90_9": "Moving targets (changing goals, business processes and / or requirements)",
    "90_10": "Stakeholders with difficulties in separating requirements from previously known solution designs",
    "90_11": "Technically unfeasible requirements",
    "90_12": "Terminological problems",
    "90_13": "Time boxing / Not enough time in general",
    "90_14": "Unclear / unmeasurable non-functional requirements",
    "90_15": "Underspecified requirements that are too abstract and allow for various interpretations",
    "90_16": "Volatile customer's business domain regarding, e.g., changing points of contact, business processes or requirements",
    "90_17": "Weak access to customer needs and / or (internal) business information",
    "90_18": "Weak knowledge about customer's application domain",
    "90_19": "Weak relationship between customer and project lead"
}

# Create a reverse keyValue store
valueKey = keyValue.fromkeys(keyValue.values())
for i,e in enumerate(keyValue):
    valueKey[keyValue[e]] = e

# Fill all values from orginal data to new data
for index, row in ID90.iterrows():
    for innerIndex in np.arange(1,5):
        if ID90.iloc[index,innerIndex] in keyValue.values():
            ID90.loc[index,valueKey[ID90.iloc[index,innerIndex]]] = 'TRUE'

ID90result = pd.concat([ID90['lfdn'], ID90.iloc[:,6:]], axis=1)
resultList.append(ID90result)
ID90[['lfdn','v_246','v_248','v_250','v_252','v_254']]

,lfdn,v_246,v_248,v_250,v_252,v_254
0,30,Missing traceability,Discrepancy between high degree of innovation ...,NaN,NaN,NaN
1,33,Communication flaws between the project and th...,Communication flaws within the project team,Weak knowledge about customer's application do...,Inconsistent requirements,Missing traceability
2,35,Time boxing / Not enough time in general,Insufficient support by project lead,Communication flaws within the project team,"Moving targets (changing goals, business proce...",Communication flaws between the project and th...
3,41,Time boxing / Not enough time in general,Unclear / unmeasurable non-functional requirem...,Terminological problems,Missing traceability,Stakeholders with difficulties in separating r...
4,48,Terminological problems,Underspecified requirements that are too abstr...,Missing traceability,Stakeholders with difficulties in separating r...,Communication flaws between the project and th...
...,...,...,...,...,...,...
483,1961,Communication flaws within the project team,Communication flaws between the project and th...,Incomplete or hidden requirements,Underspecified requirements that are too abstr...,Unclear / unmeasurable non-functional requirem...
484,1962,Time boxing / Not enough time in general,Terminological problems,Stakeholders with difficulties in separating r...,Incomplete or hidden requirements,Underspecified requirements that are too abstr...
485,1963,Time boxing / Not enough time in general,Unclear / unmeasurable non-functional requirem...,Discrepancy between high degree of innovation ...,NaN,NaN
486,1965,Communication flaws between the project and th...,Incomplete or hidden requirements,Communication flaws within the project team,"Moving targets (changing goals, business proce...",Time boxing / Not enough time in general
487,1969,Communication flaws between the project and th...,Communication flaws within the project team,Incomplete or hidden requirements,Gold plating (implementation of features witho...,Stakeholders with difficulties in separating r...

#### **Variablename V_?? | QuestionID 91** 
##### Considering your personal experiences, what are the causes to the previously stated problems that apply to your projects?

In [38]:
causeDF = pd.read_csv(r'.\data\1_2_Cause_Problem_Aggregated_PorpertyHumanRelated.csv', encoding='latin1', delimiter=';')
causeDF

,lfdn,problem,cause,tag,sourceId,targetId,rank,humanrelated
0,1340,Communication flaws within the project team,Bad atmosphere in the group,Bad atmosphere in the group,20,1,4,Yes
1,1455,Discrepancy between high degree of innovation ...,Switching Goals,Changing business needs,21,2,2,No
2,1676,Discrepancy between high degree of innovation ...,our customers (eg developers) want something ...,Changing business needs,21,2,2,No
3,1316,"Moving targets (changing goals, business proce...","business targets, market situation, competition",Changing business needs,21,9,1,No
4,1753,"Moving targets (changing goals, business proce...",Our technical world is changing. In our case i...,Changing business needs,21,9,5,No
...,...,...,...,...,...,...,...,...
1546,106,Communication flaws between the project and th...,Lack of quality time,Workload of customer,128,0,3,No
1547,1675,Communication flaws between the project and th...,Overloaded customer liaison,Workload of customer,128,0,3,No
1548,1441,Insufficient support by customer,too much workload,Workload of customer,128,6,1,No
1549,1844,Insufficient support by customer,Client is too busy,Workload of customer,128,6,1,No
1550,1006,Weak access to customer needs and / or (intern...,Delay in required feedback,Workload of customer,128,17,3,No

<div class="alert alert-danger" role="alert">
    <div class="row vertical-align">
        <div class="col-xs-1 text-center">
            <i class="fa fa-exclamation-triangle fa-2x"></i>
        </div>
        <div class="col-xs-11">
           <strong>
               PROBLEM: There are more than 5 answers in the original data? Clean them?
           </strong>                   
        </div>   
    </div> 
</div>

In [39]:
causeDF = pd.read_csv(r'.\data\Causes_categories.csv', encoding='latin1', delimiter=';')
causeDF = causeDF.rename(columns={'Ã¯Â»Â¿Original Category':'Original Category'})
causeDict = causeDF.set_index('Original Category').T.to_dict('list')
# # get length of answer possibilites
lenOfCauses = len(causeDF['New Category'].unique())

causeResultDF = pd.DataFrame()
for i in np.arange(lenOfCauses):
    if i == 0:
        causeResultDF['lfdn'] = np.nan
    causeResultDF['91_'+str(i)] = 'FALSE'

causeDF

,Original Category,New Category
0,Rework,Changing project characteristics
1,Stakeholder fluctuation,Changing project characteristics
2,Team fluctuation,Changing project characteristics
3,Volatile industry segment that leads to changes,Changing project characteristics
4,Bad atmosphere in the group,Communication problems
...,...,...
114,Missing completeness check of requirements,Process execution defects
115,Documentation overhead,Process execution defects
116,Non functional requirements unclear,Process execution defects
117,Missing project management,Lack of management
118,Method Poor project management,Lack of management

<div class="alert alert-danger" role="alert">
    <div class="row vertical-align">
        <div class="col-xs-1 text-center">
            <i class="fa fa-exclamation-triangle fa-2x"></i>
        </div>
        <div class="col-xs-11">
           <strong>
               PROBLEM: Data cleaning should be done before this step
           </strong>                   
        </div>   
    </div> 
</div>

In [40]:
answerIDdictCauses = {'Changing project characteristics' : '91_0',
'Communication problems' : '91_1',
'High complexity of projects' : '91_2',
'Human factors' : '91_3',
'Insufficient development process' : '91_4',
'Lack of common understanding about goals' : '91_5',
'Lack of communication channels' : '91_6',
'Lack of creativity' : '91_7',
'Lack of engagement' : '91_8',
'Lack of involvement from the customer' : '91_9',
'Lack of involvement within the team' : '91_10',
'Lack of knowledge' : '91_11',
'Lack of management' : '91_12',
'Lack of RE awareness' : '91_13',
'Moving targets' : '91_14',
'Process execution defects' : '91_15'}
answerIDdictCauses

{'Changing project characteristics': '91_0',
 'Communication problems': '91_1',
 'High complexity of projects': '91_2',
 'Human factors': '91_3',
 'Insufficient development process': '91_4',
 'Lack of common understanding about goals': '91_5',
 'Lack of communication channels': '91_6',
 'Lack of creativity': '91_7',
 'Lack of engagement': '91_8',
 'Lack of involvement from the customer': '91_9',
 'Lack of involvement within the team': '91_10',
 'Lack of knowledge': '91_11',
 'Lack of management': '91_12',
 'Lack of RE awareness': '91_13',
 'Moving targets': '91_14',
 'Process execution defects': '91_15'}

In [41]:
causeAnswersDF = pd.read_csv(r'.\data\Causes_answers.csv', encoding='latin1', delimiter=';')       
causeAnswersDF = causeAnswersDF.rename(columns={'Ã¯Â»Â¿lfdn':'lfdn'})
ID91 = causeAnswersDF.loc[:,['lfdn','tag']].dropna().sort_values('lfdn').reset_index(drop=True)
ID91['converted'] = np.nan
for index,row in ID91.iterrows():
    ID91.loc[index,'converted'] = causeDict[row['tag']] 

previous_lfdn = np.nan
result_list = []    
for index,elem in ID91.iterrows():
    current_lfdn = elem['lfdn']
    if current_lfdn == previous_lfdn or index == 0:
        result_list.append(elem['converted'])
    else:
        result_list = []
        result_list.append(elem['converted'])
    previous_lfdn = elem['lfdn']   
ID91.to_csv(r'.\data\exports\cause_lfdn.csv',index = False ,sep=";")
ID91

,lfdn,tag,converted
0,30.0,Process doesn't allow for innovation,Insufficient development process
1,30.0,Lack of requirements management,Lack of management
2,41.0,Lack of discipline,Human factors
3,41.0,Lack of requirements management,Lack of management
4,41.0,Missing knowledge about development framework,Lack of knowledge
...,...,...,...
1546,1969.0,Missing of a global view of the system,Lack of knowledge
1547,1969.0,Lack of experience of RE team members,Lack of knowledge
1548,1969.0,Missing prioritization by customer,Process execution defects
1549,1969.0,Poor project management,Lack of management
1550,1969.0,Lack of creativity,Lack of creativity

In [42]:
ID91result = pd.DataFrame()
ID91result['lfdn'] = np.nan
for elem in answerIDdictCauses:
    ID91result[answerIDdictCauses[elem]] = 'FALSE'

previous_lfdn = np.nan
result_list = []
lfdnIndex = 0
for index,elem in ID91.iterrows():
    current_lfdn = elem['lfdn']
    if current_lfdn != previous_lfdn:
        lfdnIndex += 1
    ID91result.loc[lfdnIndex,'lfdn'] = current_lfdn
    ID91result.loc[lfdnIndex,answerIDdictCauses[elem['converted']]] = 'TRUE'  
    previous_lfdn = elem['lfdn']

ID91result = ID91result.replace(np.nan,'FALSE')
resultList.append(ID91result)
ID91result

,lfdn,91_0,91_1,91_2,91_3,91_4,91_5,91_6,91_7,91_8,91_9,91_10,91_11,91_12,91_13,91_14,91_15
1,30.0,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE
2,41.0,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE
3,48.0,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,TRUE
4,58.0,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,FALSE,FALSE
5,76.0,FALSE,TRUE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,1957.0,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
359,1961.0,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE
360,1962.0,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,TRUE
361,1965.0,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE
362,1969.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,TRUE

#### **Variablename V_?? | QuestionID 92** 
##### Considering your personal experiences, what are the effects if he previously stated problems that apply to your projects?

In [43]:
effectDF = pd.read_csv(r'.\data\Effects_categories.csv', encoding='latin1', delimiter=';')
effectDF = effectDF.rename(columns={'Ã¯Â»Â¿Original category':'Original Category'})
effectDict = effectDF.set_index('Original Category').T.to_dict('list')
# get length of answer possibilites
lenOfeffects = len(effectDF['New Category'].unique())

effectResultDF = pd.DataFrame()
for i in np.arange(lenOfeffects):
    if i == 0:
        effectResultDF['lfdn'] = np.nan
    effectResultDF['92_'+str(i)] = 'FALSE'
    
effectDF

,Original Category,New Category
0,Budget overrun,Budget overrun
1,Conflicts with the customer,Customer conflicts
2,Conflicts within the customer,Customer conflicts
3,Conflicts within the team,Team conflicts
4,Customer dissatisfaction,Customer dissatisfaction
5,Decreased business value,Decreased business value
6,Decreased efficiency (overall),Decreased efficiency
7,Decreased manageability,Decreased manageability
8,Decreased test efficiency,Decreased efficiency
9,Decreased user acceptance,Poor product quality
10,Delayed detection of bugs and failures,Poor product quality
11,Delayed detection of missing functions,Poor product quality
12,Difficulties in project management,Decreased manageability
13,Effort overrun,Budget overrun
14,Implementation of irrelevant requirements,Decreased efficiency
15,Incomplete requirements,Incomplete requirements
16,Increased communication,Increase in communication problems
17,Increased complexity in RE,Increased complexity
18,Increased difficulty of impact analyses,Increased complexity
19,Increased difficulty of requirements elicitation,Increased complexity
20,Increased maintenance costs,Budget overrun
21,Increased number of change requests,Increased complexity
22,Increased number of failures / bugs,Poor product quality
23,Increased number of requirements changes,Increased complexity
24,Inefficient development,Decreased efficiency
25,Information gets lost,Increased complexity
26,Lack of innovation,Lack of innovation
27,Late decision,Time overrun
28,Less time left for RE,Time overrun
29,Missing engagement by customer,Customer dissatisfaction
30,Missing functionality of product,Poor product quality
31,Missing traceability,Increased complexity
32,Misunderstanding (overall),Increase in communication problems
33,Need for support by a more experienced developer,Increased complexity
34,Overall demotivation,Overall demotivation at project level
35,Poor (system) design quality,Poor product quality
36,Poor communication,Increase in communication problems
37,Poor documentation of requirements,Poor requirements quality
38,Poor product quality,Poor product quality
39,Poor requirements quality (general),Poor requirements quality
40,Project scope becomes unclear,Increased complexity
41,Rework,Increased complexity
42,Solution becomes difficult to maintain,Increased complexity
43,Solution becomes more complex,Increased complexity
44,Tests are of low quality,Poor product quality
45,Time overrun,Time overrun
46,Unexpected non-functional requirements,Incomplete non-functional requirements
47,Untestable requirements,Requirements cannot be validated
48,Validation of requirements becomes difficult,Requirements cannot be validated
49,Weak knowledge transfer,Decreased business value
50,Wrong estimates,General overrun of project ressources
51,Wrong sizing of hardware,Poor product quality

In [44]:
answerIDdictEffects = {'Budget overrun': '92_0',
'Customer conflicts': '92_1',
'Customer dissatisfaction': '92_2',
'Decreased business value': '92_3',
'Decreased efficiency': '92_4',
'Decreased manageability': '92_5',
'General overrun of project ressources': '92_6',
'Incomplete non-functional requirements': '92_7',
'Incomplete requirements': '92_8',
'Increase in communication problems': '92_9',
'Increased complexity': '92_10',
'Lack of innovation': '92_11',
'Overall demotivation at project level': '92_12',
'Poor product quality': '92_13',
'Poor requirements quality': '92_14',
'Requirements cannot be validated': '92_15',
'Team conflicts': '92_16',
'Time overrun': '92_17'}

answerIDdictEffects

{'Budget overrun': '92_0',
 'Customer conflicts': '92_1',
 'Customer dissatisfaction': '92_2',
 'Decreased business value': '92_3',
 'Decreased efficiency': '92_4',
 'Decreased manageability': '92_5',
 'General overrun of project ressources': '92_6',
 'Incomplete non-functional requirements': '92_7',
 'Incomplete requirements': '92_8',
 'Increase in communication problems': '92_9',
 'Increased complexity': '92_10',
 'Lack of innovation': '92_11',
 'Overall demotivation at project level': '92_12',
 'Poor product quality': '92_13',
 'Poor requirements quality': '92_14',
 'Requirements cannot be validated': '92_15',
 'Team conflicts': '92_16',
 'Time overrun': '92_17'}

In [50]:
effectAnswersDF = pd.read_csv(r'.\data\Effects_answers.csv', encoding='latin1', delimiter=';')       
effectAnswersDF = effectAnswersDF.rename(columns={'Ã¯Â»Â¿lfdn':'lfdn'})
ID92 = effectAnswersDF.loc[:,['lfdn','tag']].dropna().sort_values('lfdn').reset_index(drop=True)
ID92['converted'] = np.nan
for index,row in ID92.iterrows():
    ID92.loc[index,'converted'] = effectDict[row['tag']] 

previous_lfdn = np.nan
result_list = []    
for index,elem in ID92.iterrows():
    current_lfdn = elem['lfdn']
    if current_lfdn == previous_lfdn or index == 0:
        result_list.append(elem['converted'])
    else:
        result_list = []
        result_list.append(elem['converted'])
    previous_lfdn = elem['lfdn']   
ID92.to_csv(r'.\data\exports\effect_lfdn.csv',index = False ,sep=";")
ID92

,lfdn,tag,converted
0,35,Less time left for RE,Time overrun
1,35,Conflicts within the team,Team conflicts
2,35,Need for support by a more experienced developer,Increased complexity
3,35,Need for support by a more experienced developer,Increased complexity
4,41,Unexpected non-functional requirements,Incomplete non-functional requirements
...,...,...,...
1420,1969,Customer dissatisfaction,Customer dissatisfaction
1421,1969,Time overrun,Time overrun
1422,1969,Poor requirements quality (general),Poor requirements quality
1423,1969,Implementation of irrelevant requirements,Decreased efficiency
1424,1969,Implementation of irrelevant requirements,Decreased efficiency

In [46]:
ID92result = pd.DataFrame()
ID92result['lfdn'] = np.nan
for elem in answerIDdictEffects:
    ID92result[answerIDdictEffects[elem]] = 'FALSE'

previous_lfdn = np.nan
result_list = []
lfdnIndex = 0
for index,elem in ID92.iterrows():
    current_lfdn = elem['lfdn']
    if current_lfdn != previous_lfdn:
        lfdnIndex += 1
    ID92result.loc[lfdnIndex,'lfdn'] = current_lfdn
    ID92result.loc[lfdnIndex,answerIDdictEffects[elem['converted']]] = 'TRUE'  
    previous_lfdn = elem['lfdn']

ID92result = ID92result.replace(np.nan,'FALSE')
resultList.append(ID92result)
ID92result

,lfdn,92_0,92_1,92_2,92_3,92_4,92_5,92_6,92_7,92_8,92_9,92_10,92_11,92_12,92_13,92_14,92_15,92_16,92_17
1,35.0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE
2,41.0,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,TRUE
3,58.0,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
4,76.0,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
5,81.0,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,1941.0,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE
328,1961.0,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE
329,1962.0,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,TRUE
330,1965.0,TRUE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,FALSE
331,1969.0,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,TRUE

#### Join all results into a single dataframe to export it

In [47]:
FINAL = joinAllDataFrames(resultList)
# Delete LFDN from list
FINAL = FINAL.iloc[:,1:]
FINAL

,65_0,65_1,65_2,65_3,65_4,65_5,65_6,65_7,65_8,65_9,...,92_8,92_9,92_10,92_11,92_12,92_13,92_14,92_15,92_16,92_17
0,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,TRUE
1,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,TRUE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE
3,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,...,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE
4,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,TRUE,FALSE
213,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
214,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
215,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE
216,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE

In [48]:
# Export answers to csv
FINAL.to_csv(r'.\data\exports\answer.csv',index = False ,sep=";")